@import "src/design/constants.scss";

.Layout {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  &__header {
    position: fixed;
    z-index: 2;
    flex-basis: $headerHeight;
    width: 100%;
    min-width: 320px;
  }

  &__body {
    position: relative;
    z-index: 1;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    min-height: calc(100vh - #{$headerHeight});
    margin-top: $headerHeight;
    padding: 20px;
  }

  &__input{
    &+&{
      margin-top: 20px;
    }
  }
}
