@import "src/design/constants.scss";

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }
  @include optional-at-root(":-moz-placeholder") {
    @content;
  }
  @include optional-at-root("::-moz-placeholder") {
    @content;
  }
  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
  @include optional-at-root("::placeholder") {
    @content;
  }
}

@keyframes onAutoFillStart {
  from,
  to {
    background-color: white;
  }

  50% {
    background-color: #fefefe;
  }
}

@keyframes onAutoFillCancel {
  from,
  to {
    background-color: white;
  }

  50% {
    background-color: #fefefe;
  }
}

.Input {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: left;
  font-family: SegoeUI, sans-serif;

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1px;
    user-select: none;
    background: white;
  }

  &__control {
    position: relative;
    z-index: 3;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 $controlPadding;
    transition: background-color 0.15s ease-in;
    white-space: nowrap;
    text-overflow: clip;
    color: $darkFontColor;
    border: 1px solid #d9d9d9;
    border-radius: 0;
    outline: none;
    background: white;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;

    -webkit-appearance: none;
    @include placeholder {
      text-indent: 0;
      text-overflow: ellipsis !important;
      opacity: 1;
      color: #aaaaaa;
      font-family: inherit;
    }
    &-wrapper {
      position: relative;
      display: block;
      flex: 1;
    }

    &:-webkit-autofill {
      z-index: 0;
      animation: onAutoFillStart 1ms;
      color: #000000;
      -webkit-box-shadow: inset 0 0 0 50px white;

      -webkit-text-fill-color: black;
    }

    &:not(:-webkit-autofill) {
      animation: onAutoFillCancel 1ms;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      border-top-color: #b2b2b2;
    }

    &:ms-clear {
      display: none;
    }
  }

  &__label {
    position: relative;
    white-space: nowrap;
  }

  &_labelPosition {
    &_top {
      .Input {
        &__box {
          flex-direction: column;
        }

        &__label {
          margin-bottom: 10px;
        }
      }
    }

    &_left {
      .Input {
        &__box {
          align-items: baseline;
          flex-direction: row;
        }

        &__label {
          margin-right: 20px;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    z-index: 4;
    color: #aeaeae;

    &_left {
      left: $controlPadding;
    }

    &_right {
      right: $controlPadding;
    }
  }

  &_icon {
    &-left {
      .Input {
        &__control {
          padding-left: calc(#{$controlPadding} * 2 + #{$iconSize});
        }
      }
    }

    &-right {
      .Input {
        &__control {
          padding-right: calc(#{$controlPadding} + #{$iconSize});
        }
      }
    }
  }

  &__notification {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 10px;
    white-space: pre-wrap;
  }

  &_disabled {
    .Input {
      &__control {
        cursor: default;
        border-color: #d9d9d9;
        background: #f1f1f1;
      }
    }
  }

  &_focused {
    .Input {
      &__box {
        z-index: 10;
      }

      &__control {
        z-index: 2;
        border-color: $focusColor;
        box-shadow: 0 0 0 1px #5199db;

        @include placeholder {
          color: #bbbbbb;
        }
      }
    }
  }

  &_filled {
    .Input {
      &__control {
        border-top-color: #b2b2b2;
      }
    }
  }

  @each $invalidLevel in $invalidLevels {
    $i: index($invalidLevels, $invalidLevel);
    &_#{$invalidLevel} {
      .Input {
        &__control {
          border: 1px solid nth($invalidColors, $i);
          box-shadow: 0 0 0 1px nth($invalidColors, $i);
        }

        &__notification {
          color: nth($invalidColors, $i);
        }
      }
    }
  }

  @each $size in $sizes {
    $i: index($sizes, $size);
    &_size_#{$size} {
      .Input {
        &__control {
          height: nth($heights, $i);
          font-size: nth($fontSizes, $i);
          line-height: nth($lineHeights, $i);
        }

        &__label {
          height: nth($lineHeights, $i);
          font-size: nth($fontSizes, $i);
          line-height: nth($lineHeights, $i);
        }

        &__notification {
          height: nth($lineHeights, $i);
          font-size: nth($fontSizes, $i);
          line-height: nth($lineHeights, $i);
        }

        &__icon {
          top: calc(#{nth($heights, $i)} / 2 - #{$iconSize} / 2);
        }
      }
    }
  }

  &__control::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

input:invalid,
input:-moz-ui-invalid {
  border: 0;
  outline: none;
  box-shadow: none;
}
