@import "src/design/constants.scss";


.Combobox {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: SegoeUI;

  &__label {
    position: relative;
  }

  &_labelPosition {
    &_top {
      .Combobox {
        &__label {
          margin-bottom: 10px;
        }
      }
    }

    &_left {
      align-items: baseline;
      flex-direction: row;
      .Combobox {
        &__label {
          margin-right: 20px;
        }
      }
    }
  }

  &__input {
    z-index: 5;
    width: 100%;
  }

  &__list {
    position: absolute;
    z-index: 6;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    min-width: 100%;
    max-height: 450px;
    margin-left: 2px;
    border: 1px solid #eeeeee;
    background: white;
    background: white;
    box-shadow: 0px 1px 6px 0px #aaaaaa;

    &-loader {
      flex-basis: 30px;
      padding: 10px;
      color: #adadad;
    }

    &-error {
      display: flex;
      flex-direction: column;
      font-family: SegoeUI;
      font-size: 14px;
      &-message,
      &-button {
        flex-basis: 30px;
        padding: 10px;
      }

      &-message {
        color: #adadad;
      }

      &-button {
        padding-top: 0;
        padding-bottom: 0;
        cursor: pointer;
        text-align: left;
        color: white;
        border: none;
        outline: none;
        background-color: $focusColor;
      }
    }

    &-item {
      flex-basis: 30px;
      padding: 10px;
      cursor: pointer;
      white-space: nowrap;

      &_selected {
        background-color: $selectedColor;
      }

      &_focused {
        color: white;
        background: $focusColor;
      }

      &-content {
        background-color: transparent;
        &_highlight {
          font-weight: bold;
        }
      }
    }

    &-notification {
      flex-basis: 30px;
      padding: 10px;
      white-space: pre-wrap;
      color: #aaaaaa;
      font-size: 12px;
    }
  }

  &__notification {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 10px;
    white-space: pre-wrap;

    @each $invalidLevel in $invalidLevels {
      $i: index($invalidLevels, $invalidLevel);
      &_#{$invalidLevel} {
        color: nth($invalidColors, $i);
      }
    }
  }

  @each $size in $sizes {
    $i: index($sizes, $size);
    &_size_#{$size} {
      .Combobox {
        &__label {
          height: nth($lineHeights, $i);
          font-size: nth($fontSizes, $i);
          line-height: nth($lineHeights, $i);
        }

        &__notification {
          height: nth($lineHeights, $i);
          font-size: nth($fontSizes, $i);
          line-height: nth($lineHeights, $i);
        }
      }
    }
  }
}
