@import "src/design/constants.scss";

.PageCombobox {
  display: flex;
  overflow-y: hidden;
  flex: 1;
  flex-direction: column;
  width: 100%;

  &__combobox{
    max-width: 450px;

    &-input{
      min-width: 100%;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;

    &-title {
      padding-bottom: 10px;
      border-bottom: 1px solid #eeeeee;
    }

    &-input {
      max-width: 450px;
      margin-bottom: 20px;
    }

    &-label {
      min-height: 20px;
      margin-bottom: 10px;
      font-family: SegoeUI;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }

    &-radio-group {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-family: SegoeUI;
      &-item {
        margin-right: 5px;
        cursor: pointer;
        &+& {
          margin-left: 20px;
        }
      }
    }

    &-row {
      display: flex;
    }

    &-column {
      display: flex;
      flex-direction: column;
      &+& {
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid #eee;
      }
    }
  }
}
