@keyframes rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.CircleProgress {
  position: relative;
  display: flex;
  align-items: center;

  &__loader {
    width: 14px !important;
    height: 14px !important;
    -webkit-transform: translate(-7px, -7px) scale(0.065) translate(7px, 7px);
            transform: translate(-7px, -7px) scale(0.065) translate(7px, 7px);

    &-spinner,
    &-spinner:after {
      position: absolute;
      width: 160px;
      height: 160px;
      border: 20px solid #adadad;
      border-top-color: transparent;
      border-radius: 50%;
    }

    &-spinner {
      top: 100px;
      left: 100px;
      -webkit-animation: rolling 1s linear infinite;
              animation: rolling 1s linear infinite;

      &:after {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
      }
    }
  }

  &__label {
    margin-left: 10px;
    font-family: SegoeUI;
  }
}
