@import "src/design/constants.scss";

.Header {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-basis: $headerHeight;
  height: $headerHeight;

  justify-content: space-between;
  width: 100%;
  min-width: 100vw;
  padding: 0 20px;
  border-bottom: 1px dashed #eeeeee;
  background: white;
  font-family: SegoeUI;

  &__links{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    &-item{
      font-size: 18px;
      font-weight: bold;
      color: black;

      &_active, &:hover{
        color: #ED142C;
      }

      &+&{
        margin-left: 20px;
      }
    }
  }
}
