$fontSizeBase: 14px;
$fontFamilyBase: SegoeUI, sans-serif;

$invalidColor: #da0c09;
$warningColor: #f69c00;
$focusColor: #5199db;
$selectedColor: #f1f1f1;
$darkFontColor: #404040;
$invalidLevels: warning invalid;
$invalidColors: $warningColor $invalidColor;
$sizes: small medium large;
$fontSizes: 14px 14px 16px;
$lineHeights: 20px 20px 22px;
$heights: 32px 38px 42px;
$labelMargin: 10px;
$iconSize: 14px;
$controlPadding: 10px;

$headerHeight: 70px;

$tablet: "(max-width : 992px)";
$mobile: "(max-width : 768px)";
