@import "src/design/constants.scss";

html,
body,
#app {
  min-height: 100vh;
  background-color: #ffffff;
}

body {
  width: 100%;
  color: black;
  background-color: white;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
  line-height: 1.42857;

  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;

   -khtml-user-select: none;
       -o-user-select: none;
  -webkit-user-drag: none;
   -khtml-user-drag: none;
     -moz-user-drag: none;
       -o-user-drag: none;
          user-drag: none;
}

@font-face {
  font-family: Icons;
  font-style: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

  src: url("design/fonts/icons/icons.eot")  format("eot"),
  url("design/fonts/icons/icons.woff") format("woff"),
  url("design/fonts/icons/icons.woff2") format("woff2"),
  url("design/fonts/icons/icons.ttf") format("truetype"),
  url("design/fonts/icons/icons.svg") format("svg");
}

@font-face {
  font-family: SegoeUI;
  font-weight: 400;

  src: local("Segoe UI"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2") format("woff2"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"),
  url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype");
}
